<!DOCTYPE html>
<html>
  <head>
    <title>LDR.esc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if signed_in? %>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'Home', root_path, class: 'navbar-brand' %>
          <%= link_to 'Log Out', sign_out_path, method: :delete, class: 'navbar-brand' %>
        </div>
        <div id="navbar">

        </div>
      </div>
      </nav>

    <% else %>

      <%= link_to 'Sign Up', sign_up_path, class: 'navbar-brand' %>
      <%= link_to 'Log In', sign_in_path, class: 'navbar-brand' %>

    <% end %>

    <div class="container">
    <div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%=h value %></div>
        <%= javascript_tag "$('#flash_#{key}').fadeOut(5000);" %>
      <% end %>
      </div>
    <%= yield %>
    </div>
  </body>
</html>
